:root{
    --white-color: #f4f4f4;
    --link-dark-color: blue;
}

/* Reset global */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--)
}

body {
    font-family: 'Arial', sans-serif; /* Se puede cambiar por cualquier fuente */
    line-height: 1.6;
    /* background:linear-gradient(#6E8E59,#EAFAEA); Fondo blanco por defecto */

    color: #333; /* Texto oscuro */
    font-size: 16px;
    min-width: 320px; /* Asegura que la página sea usable en móviles */
}

ul, ol {
    list-style: none;
}

/* img {
    max-width: 100%;
    height: auto; /* Asegura que las imágenes sean responsivas
} */

/* Tipografía base */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Helvetica', sans-serif; /* Puedes personalizar las fuentes */
    font-weight: 700;
    color: #222;
}

p {
    margin: 0 0 1rem;
    letter-spacing: 1px;
}

/* Contenedores y elementos flexibles */
.container {
    /* width: 90%; */
    max-width: 1500px;
    margin: 0 auto; /* Centrado horizontal */
    text-align: center;  /* Centra el texto del contenedor*/
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

/* Botones generales */
button, .btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover, .btn:hover {
    background-color: #0056b3;
}

/* Formulario base */
input, textarea, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0.5rem 0;
}

textarea {
    resize: vertical;
}

input:focus, textarea:focus {
    outline: 2px solid #007bff;
}

/* Enlaces */
a {
    color: #007bff;
    text-decoration: none;
}

/* a:hover {
    text-decoration: underline;
} */

/* Estilos de tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
    font-weight: 600;
}

/*Hidden menu hamburguer in desktop*/
.btn__menu-ham,
.container__menu-ham{
    display: none;
}

.main__section{
    /* height: 50vh; */
    background-image: linear-gradient(to top, rgba(46, 49, 65, 0.4), rgba(46, 49, 65, 0.4)), url(./img/background_vivero_2.jpeg);
    background-attachment: fixed; /* Parallax: la imagen no se mueve */

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    /* background-size: auto, cover;
    background-position: center, center; */
}

.header{
    display: flex;
    /* max-width: 1200px; */
    /* margin: 20px 0px; */
    padding: 30px 25px 0px 25px;
    align-content: stretch;
    justify-content: space-between;
    height: 100%;
}

.header__menu{
    display: flex;
    flex-direction: row;
}

.header__logo-img {
    width: 150px;
    height: 150px;
}

.header__nav{
    font-size: 1.5rem;
    display: flex;
    align-items: center
}

.header__menu-link {
    position: relative;
    text-decoration: none;
    margin: 10px;
    color: var(--white-color);
    letter-spacing: 1px;
    display: inline-block;
}

.header__menu-link::after{
    content: "";
    position: absolute;
    bottom: -1px; /* Ajusta la distancia de la línea con respecto al texto */
    left: 0;
    width: 0;
    height: 2px; /* Grosor de la línea */
    background-color: var(--white-color);
    transition: width 300ms ease-in-out;
}

.header__menu-link:hover::after{
    width: 100%;
}



/* The hero image */
.main__hero{
    height: 50vh; /* Para navegadores */
    height: 70dvh;  /* Para dispositivos moviles */
    width: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transform: skew();
}


.main__hero-text {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);  /* Propiedad para alinear contenedor en hero*/
    color: white;
    /* background-color: #007bff; */
}

.main__hero-title{
    color: #f4f4f4;
    font-size: 3.5rem;
}

.subtitle{
    position:relative;
    padding: 10px 0px 40px 0px;
    /* z-index: 2; */
    /* padding: 40px; */
    font-size: 2rem;
    /* display: inline;
    border-bottom: 1px solid black; */
}

/* .subtitle__txt{

} */


.who-we-are{
    position: relative;
    /* background-color: #E9EFEC; */
    background-image: linear-gradient(183deg, #E9EFEC 70%, #89A8B2 100%)
}

.who-we-are::before{
    content: "";
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 100px;
    /* background-color: #E9EFEC; */
    background-image: linear-gradient(0deg, #E9EFEC 70%, #89A8B2 100%);
    transform: skewY(-3deg);
    margin-bottom: 10px;
}

.who-we-are__subtitle{
    position: relative;
}

.who-we-are__container{
    display: flex;
    justify-content:space-around;
    height: 330px;
}

.who-we-are__container-txt{
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-bottom: 90px;
    width: 50%;
}

.who-we-are__div__badge-logo{
    /* background-color: red; */
    height: 250px;
}

.who-we-are__badge-logo{
    width: 350px;
    height: 200px;
    border-radius: 30px;
    margin: 10px 0px 0px 0px;
}



.products__section{
    position: relative;
    padding-bottom: 30px ;
    background-color: #89A8B2;
    /* clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); Corta la parte inferior */
}

.products__section::before{
    content: "";
    position: absolute;
    top: -50px;
    right: 0;
    width: 100%;
    height: 90px;
    transform: skewY(3deg); /* Inclinación */
    background-color: #89A8B2;
    margin-top: 10px;
}

.divider{
    display: flex;
    align-self: center;
    background-color: red;
    border: solid .5px gray;
    margin: 0 auto;
    width: 90%;
    margin: 50px 0px 50px 0px;
}

.products__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
    gap: 20px; /* Espacio entre elementos */
    margin-bottom: 40px;
    /* background-color: antiquewhite; */
}

.products__category{
    margin-top: 20px;
    width: 100%;
    height: 200px;
    /* overflow: hidden; Para que no sobre salga la imagen*/

}

.products__category-img{
    background-color: white;
    opacity: .9;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    object-fit: cover; /* Ajusta la imagen sin deformarla */
    transition: transform 0.3s ease-in-out;  /* Movimiento lento*/
}

.products__category-img:hover{
    transform: scale(1.1);
    border-radius: 100px;
}

.products__category-txt{
    font-size: 1.3rem;
    font-weight: 500;
    /* color: #E9EFEC; */
    color: white;

}

.services__section{
    display: grid;
    justify-items: center;
    position: relative;
    /* overflow: hidden; */
    /* z-index: 1; */
    width: 100%;
    margin: 0 auto;
    background-color: #E9EFEC;
    /* background-image: linear-gradient(0deg, #E9EFEC 70%, #89A8B2 150%); */
    
    padding-bottom: 40px;
}

/* pseudo-elemento en CSS que te permite agregar contenido antes del contenido real de un elemento, sin necesidad de modificar el HTML. */
.services__section::before {
    content: "";
    position: absolute;
    top: -50px; /* Mueve la inclinación hacia arriba */
    left: 0;
    width: 100%;
    height: 100px; /* Altura del efecto */
    /* background-color: #E9EFEC; */
    background-image: linear-gradient(0deg, #E9EFEC 70%, #89A8B2 130%);
    transform: skewY(-3deg); /* Inclinación */
    /* z-index: -1; Envía el pseudo-elemento al fondo */
    pointer-events: none; /* Evita que bloquee clics en los enlaces */
}


.services__section a {
    position: relative;
    /* color: #E9EFEC; */
    letter-spacing: 1px;
    /* z-index: 2;  */
    /* Evita que los enlaces queden detrás del efecto */
}


.services__category{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
}

.services__category-img{
    background-color: white;
    opacity: .9;
    width: 100%;
    height: 210px;
    border-radius: 50px;
    object-fit: cover; /* Ajusta la imagen sin deformarla */
    transition: transform 0.3s ease-in-out;  /* Movimiento lento*/
}

.services__category-img:hover{
    transform: scale(1.05);
    border-radius: 50px;
}

.services_category-txt--left{
    font-size: 1.5rem;
}

.services_category-txt--right{
    font-size: 1.5rem;
}

.contact__section{
    /* background-color: #89A8B2; */
    background-image: linear-gradient(to top, rgba(46, 49, 65, 0.6), rgba(46, 49, 65, 0.6)), url(./img/background_vivero_2.jpeg);
    background-attachment: fixed; /* Parallax: la imagen no se mueve */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    justify-items: center;
    /* overflow: hidden; */
    /* z-index: 1; */
    width: 100%;
    margin: 0 auto;
    /* background-color: #C7E8CA; */
    padding: 70px 0px 0px 0px;
}

.contact__section::before {
    content: "";
    position: absolute;
    top: -50px; /* Mueve la inclinación hacia arriba */
    left: 0;
    width: 100%;
    height: 90px; /* Altura del efecto */
    /* background-color: #E9EFEC; */
    background-image: linear-gradient(180deg, #E9EFEC 40%, #89A8B2 130%);
    /* background: rgba(255, 0, 0, 0.3); Rojo semi-transparente para pruebas */
    transform: skewY(3deg); /* Inclinación */
    /* z-index: -1; Envía el pseudo-elemento al fondo */
    pointer-events: none; /* Evita que bloquee clics en los enlaces */
}

.contact__section-subtitle{
    color: #E9EFEC;
}

.contact__form{
    display: grid;
    width: 90%;
    grid-template-columns: 1fr 1fr;
    /* background-color: #fbfbfb; */
    justify-items: center;

}

.contact__form-fields{
    display: flex;
    flex-direction: column;
    width: 90%;

}

.contact__form-txt,
.contact__form-btn{
    display: flex;
    align-items: flex-start;
    margin-left: 10px;
    color: white;
}

.contact__form-input,
.contact__form-textarea{
    background-color: rgba(255, 255, 255, 0.2);
    /* background-color: white; */
    border: solid 2px rgba(255, 255, 255, 0.5);
}

.contact__form-textarea{
    height: 150px;
}

.section__location{
    width: 90%;
}


/* Footer */
.footer{
    /* background-color: rgb(52, 49, 51);     */
    color: #E9EFEC;
}

/*.footer__txt{
     padding: 10px; 
}*/

.socials{
    font-size: 2.0rem;
}





/* Respuestas en dispositivos móviles */
@media (min-width: 768px) and (max-width: 1023px) {
    body {
        font-size: 14px;
        background-color: #0056b3;
    }

    .header{
        display: none;
    }

    .container {
        width: 95%;
    }

    .grid {
        grid-template-columns: 1fr; /* Modo columna en pantallas pequeñas */
    }

    .who-we-are__container {
        display: flex;
        height: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        padding-bottom: 120px;
    }

    .who-we-are__container-txt {
        margin-bottom: 50px;
    }

    .who-we-are__badge-logo{
        margin: 0 auto;
    }

    /* .products__list{

    } */
}

@media (max-width: 767px) {
    body{
        /* background-color: aqua; */
        font-size: 12px;
    }    

    .opacity{
        /* position: fixed;
        top: 0;
        left: 0;
        width: 50%;
        height: 50%;
        background: rgba(255, 255, 255, 0.1); 
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease-in-out;
        z-index: 1000; */
    }

    .container {
        width: 100%;
    }

    /**HAMBURGUER MENU  */
    .header__nav{
        display: none;
    }


    .btn__menu-ham{
        background-color: rgba(255,255,255, 0);
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        font-size: 2.5rem;
        /* background-color: #007bff; */
        height: 100%;
    }

    .btn__menu-ham--close{
        font-size: 2rem;
        background-color: rgba(255, 255, 255, 0.2);
    }

    .btn__menu-ham--close:hover{
        background-color: rgba(255, 255, 255, 0.2);
        color: #333;
    }

    .close{
        display: none;
    }

    .open{
        display: inline-block;
    }

    .btn__menu-ham:hover{
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.2);
        font-size: 2.7rem;
        transition: all 250ms;
    }

    /* Una vez abierto el menu hamburguesa */
    .container__menu-ham.open{
        display: flex;
        background-color: #89A8B2;
        flex-direction: column;
        /* 
        font-size: 1rem;
        gap: 1px;
        background-color: rgba(255, 255, 255, 0.2);
        background-color: white;
        border: solid 2px rgba(255, 255, 255, 0.5); */

        /* position: absolute;
        top: 0;
        right: 0;
        margin: 30px 25px 0px 0px; */

        /* text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        color: white;
        opacity: 1; */

        font-size: 24px;
        background: #89A8B2;
        border: none;
        cursor: pointer;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        z-index: 1001;
        opacity: 1;
        padding: 20px;
    }

    .container__menu-ham{
        justify-content: center;
    }

    .menu__link-ham {
        color: var(--white-color);
        position: relative;
        text-decoration: none;
        margin: 10px;
        color: var(--white-color);
        letter-spacing: 1px;
        /* display: inline-block; */
    }
    
    .menu__link-ham::after{
        content: "";
        position: absolute;
        bottom: -1px; /* Ajusta la distancia de la línea con respecto al texto */
        left: 0;
        width: 0;
        height: 2px; /* Grosor de la línea */
        background-color: var(--white-color);
        transition: width 300ms ease-in-out;
    }
    
    .menu__link-ham:hover::after{
        width: 100%;
    }


    .main__hero-text{
        font-size: 1rem;
    }

    /** HERO SECTION*/

    .main__hero{
        height: 40dvh;
        object-fit: cover;
    }

    .main__section{
        background-attachment: inherit;
    }

    /** WHO WE ARE SECTION */

    .who-we-are__container {
        display: flex;
        height: 100%;
        /* flex-direction: column; */
        flex-wrap: wrap;
        align-content: center;
        padding-bottom: 50px;
    }

    .who-we-are__subtitle {
        position: relative;
        font-size: 1.7rem;
    }

    .who-we-are__container-txt{
        font-size: 1rem;
        width: 90%;
        /* background-color: #0056b3; */
        margin-bottom: 20px;
    }

    .who-we-are__badge-logo{
        width: 250px;
        /* border-radius: 30px; */
        margin: 20px 0px 0px 0px;
    }

    /** PRODUCTS SECTION */

    .products__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0px;
        margin: 20px 0px 40px -5px;
        /* background-color: antiquewhite; */
    }

    .products__category-txt {
        font-size: .9rem;
        color: white;
        width: 190px;
        margin: 0 auto;
    }

    .products__category-img{
        width: 120px;
        height: 120px;
    }

    /** SERVICES SECTION */

    .services__category {
        width: 90%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        align-items: center;
    }

    .services__category_container--one{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .services__category_container--two {
        display: flex;
        flex-direction: column-reverse;
    }

    .services_category-txt--right,
    .services_category-txt--left{
        font-size: 1.1rem;
    }

    .services__category-img{
        width: 330px;
    }

    /** CONTACT SECTION*/
    .contact__section{
        /* background-color: #007bff; */
        height: 100%;
        background-attachment: inherit;
    }

    .contact__form{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }

    .contact__form-message{
        margin-bottom: 40px;
    }

    .section__location{
        display: flex;
        width: 300px;
    }
    .location{
        width: 300px;
    }

    iframe{
        max-width: 300px;
    }

}
